<section class="py-12 px-6" style="background-color: #1c1c1c;">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <div class="p-6 flex flex-col items-center">
            <img
                src="/images/quellenhof/feature1.png"
                class="h-20 w-20 mb-4"
                alt="Icon"
            />
            <h3 class="text-lg font-medium mb-2 text-white text-center">
                Camere e prezzi
            </h3>
            <p class="text-sm text-gray-400 text-center">
                Mostra dettagli
            </p>
        </div>

        <div class="p-6 flex flex-col items-center">
            <img
                src="/images/quellenhof/feature2.webp"
                class="h-20 w-20 mb-4"
                alt="Icon"
            />
            <h3 class="text-lg font-medium mb-2 text-white text-center">
                Offerte
            </h3>
            <p class="text-sm text-gray-400 text-center">
                Mostra dettagli
            </p>
        </div>

        <div class="p-6 flex flex-col items-center">
            <img
                src="/images/quellenhof/feature3.png"
                class="h-20 w-20 mb-4"
                alt="Icon"
            />
            <h3 class="text-lg font-medium mb-2 text-white text-center">
                Buoni regalo
            </h3>
            <p class="text-sm text-gray-400 text-center">
                Mostra dettagli
            </p>
        </div>
    </div>
</section>
