<div class="relative bg-cover bg-center h-screen" style="background-image: url(<%= heroimage %>)">
  <div class="absolute inset-0 bg-black opacity-50"></div>
  <div class="absolute bottom-16 left-4 sm:bottom-32 sm:left-24 z-10 text-white px-4 text-left">
    <p class="text-xs sm:text-lg font-light mb-2"><%= herotext %></p>
    <h1 class="text-2xl sm:text-5xl font-light"><%= herotitle %></h1>
  </div>
</div>
