<div class="container mt-10 max-w-md mx-auto p-6 bg-white rounded-lg shadow-md text-gray-800 text-center">
  <p class="text-xl font-semibold mb-4">Hello <span class="text-blue-600"><%= @resource.email %></span>!</p>
  <p class="text-gray-700">We're contacting you to notify you that your password has been changed.</p>
</div>
